:root {
  --blue: #00acdc;
}

html {
  font-family: Roboto, Arial, sans-serif;
  font-size: 12px;
}

body {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
  width: 100%;
  padding: 0 50px;
}

.nav__img {
  display: block;
  height: 40px;
}

.nav__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__item {
  margin-right: 20px;
}

.nav__link {
  display: flex;
  position: relative;
  align-items: center;
  text-decoration: none;
  height: 60px;
  color: black;
  text-transform: uppercase;
}

.nav__item:first-child {
  margin-left: 0;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__link:hover {
  color: var(--blue);
}

.is-active {
  color: var(--blue);
}

.is-active::after {
  position: absolute;
  content: '';
  height: 4px;
  border-radius: 8px;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: var(--blue);
}
